<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Akka" version="1.0.3" targetFramework="net45" />
  <package id="Akka.Cluster" version="1.0.3.11-beta" targetFramework="net45" />
  <package id="Akka.Logger.NLog" version="1.0.3" targetFramework="net45" />
  <package id="Akka.Remote" version="1.0.3" targetFramework="net45" />
  <package id="Akka.TestKit" version="1.0.3" targetFramework="net45" />
  <package id="Akka.TestKit.NUnit" version="1.0.3" targetFramework="net45" />
  <package id="Antlr4.Runtime" version="4.3.0" targetFramework="net45" />
  <package id="Castle.Core" version="3.3.0" targetFramework="net45" />
  <package id="Common.Logging" version="2.1.2" targetFramework="net45" />
  <package id="Google.ProtocolBuffers" version="2.4.1.521" targetFramework="net45" />
  <package id="Helios" version="1.4.0" targetFramework="net45" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.34" targetFramework="net45" />
  <package id="NEsper" version="5.2.4" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="Nito.KitchenSink.CRC" version="1.1.0" targetFramework="net45" />
  <package id="NLog" version="3.0.0.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="Sharpen" version="1.0.0.3" targetFramework="net45" />
  <package id="XLR8.CGLib" version="1.0.2" targetFramework="net45" />
</packages>